/*-----------------------------------*\
  #style.css
\*-----------------------------------*/
/*-----------------------------------*\
  #CSS CUSTOM PROPERTIES
\*-----------------------------------*/
:root {
  /* Colors */
  --clr-neutral-100: hsl(216, 100%, 99%); /* neutral 100 */
  --clr-neutral-150: hsl(217, 44%, 96%); /* neutral 98 */
  --clr-netural-175: hsl(220, 26%, 93%); /* neutral 95 */
  --clr-neutral-200: hsl(213, 17%, 88%); /* neutral 90 */
  --clr-neutral-225: hsl(216, 9%, 78%); /* neutral 80 */
  --clr-neutral-250: hsl(217, 4%, 58%); /* neutral 60 */
  --clr-neutral-275: hsl(214, 3%, 49%); /* neutral 50 */
  --clr-neutral-300: hsl(216, 3%, 39%); /* neutral 40 */
  --clr-neutral-350: hsl(225, 3%, 29%); /* neutral 30 */
  --clr-neutral-500: hsl(220, 3%, 19%); /* neutral 20 */
  --clr-netural-600: hsl(210, 4%, 10%); /* neutral 10 */
  --clr-neutral-700: hsl(240, 4%, 5%); /* neutral 5 */

  --clr-error: hsl(355, 100%, 56%);

  --clr-secondary-300: hsl(180, 100%, 56%); /* secondary 100 */
  --clr-secondary-600: hsl(180, 76%, 11%); /* secondary 20 */

  --clr-primary-100: hsl(216, 100%, 56%); /* primary 100 */
  --clr-primary-200: hsl(216, 79%, 51%); /* primary 90 */ 
  --clr-primary-300: hsl(216, 77%, 45%); /* primary 80 */
  --clr-primary-400: hsl(216, 77%, 39%);/* primary 70 */
  --clr-primary-700: hsl(216, 77%, 23%); /* primary 40 */
  --clr-primary-800: hsl(217, 76%, 11%); /* primary 20 */

  --clr-accent-100: hsl(0, 0%, 100%);
  --clr-accent-400: hsl(44, 92%, 56%);

  --ff-primary: 'Montserrat', sans-serif;

  --fs-base: 1rem;
  --fs-100: 1.4rem; /* label md */
  --fs-200: 1.6rem; /* body lg & md * label lg */
  --fs-300: 1.8rem; /* title sm */
  --fs-400: 2rem; /* title md */
  --fs-500: 2.2rem; /* title lg */
  --fs-600: 2.8rem; /* headline md & sm */
  --fs-700: 3.6rem; /* headline lg */

  --fw-regular: 400;
  --fw-semiBold: 600;
  --fw-bold: 700;

  --radius-sm: .5rem;
  --radius-md: .75rem;
  --radius-lg: 1rem;
  --radius-xlg: 2rem;
  --radius-full: 62.5rem;
  --radius-circle: 50%;

  --shadow-1: 0px 2px 4px 0px #00000033;
  --shadow-2: 0px 5px 10px 0px #0000000D;
  --shadow-3: 0px 5px 10px 0px #00000033;
  --shadow-4: 0px 10px 20px 0px #0000001A;

  --transition-ease: cubic-bezier(0, 0.7, 0.3, 1);
  --transition-quick: 200ms;
  --transition-smooth: 500ms;
}
/*-----------------------------------*\
  #RESET
\*-----------------------------------*/
*, 
*::before, 
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

li {
  list-style: none;
}

p, 
h1, 
h2, 
h3, 
h4, 
h5, 
h6 {
  overflow-wrap: break-word;
}

input,
button,
select {
  background: none;
  border: none;
  font: inherit;
}

button {
  cursor: pointer;
}

input,
select {
  width: 100%;
  outline: none;
}

address {
  font-style: normal;
}

select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

html {
  font-family: var(--ff-primary);
  scroll-behavior: smooth;
}

body {
  background-color: var(--clr-neutral-150);
  color: var(--clr-neutral-700);
  /*font-size: var(--fs-200); */
  line-height: 1.5;
}

::-webkit-scrollbar {
  width: .75rem;
}

::-webkit-scrollbar-track {
  background-color: var(--clr-neutral-200);
}

::-webkit-scrollbar-thumb {
  background-color: var(--clr-neutral-250);
  border-radius: .25rem;
}


/*-----------------------------------*\
  #TYPOGRAPHY
\*-----------------------------------*/

.headline--lg {
  font-size: var(--fs-700);
  font-weight: var(--fw-bold);
  line-height: 1.1;
  letter-spacing: -0.0156rem;
}

.headline--md {
  font-size: var(--fs-600);
  font-weight: var(--fw-bold);
  line-height: 1.2;
}

.headline--sm {
  font-size: var(--fs-500);
  font-weight: var(--fw-bold);
  line-height: 1.3;
}

.title--lg {
  font-size: var(--fs-500);
  font-weight: var(--fw-semiBold);
  line-height: 1.4;
}

.title--md {
  font-size: var(--fs-400);
  font-weight: var(--fw-semiBold);
  line-height: 1.4;
}

.title--sm {
  font-size: var(--fs-300);
  font-weight: var(--fw-semiBold);
}

.body--lg {
  font-size: var(--fs-200);
  font-weight: var(--fw-regular);
  line-height: 1.4;
}

.body--md {
  font-size: var(--fs-100);
  font-weight: var(--fw-regular);
  line-height: 1.4;
}

.label--md {
  font-size: var(--fs-100);
  font-weight: var(--fw-regular);
}

/*-----------------------------------*\
  #UTILITY 
\*-----------------------------------*/

.wrapper {
  padding-inline: 1rem;
  max-width: 36.25rem;
  width: 100%;
  margin-inline: auto;
}

.material-symbols-rounded {
  display: block;
  width: 1em;
  height: 1em;
  overflow: hidden;
  font-variation-settings: 
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 0;
  }

  .flow-content > * + * {
    margin-top: var(--flow-spacer, 1em);
}

.section {
  padding-block-end: 3.75rem;
}

.title__wrapper {
  margin-block-end: 2rem;
}

.img--holder {
  aspect-ratio: var(--width) /  var(--height);
  background-color: var(--clr-neutral-225);
  overflow: hidden;
}

.img--cover {
  width: 100%;
  height: 100%;
  object-fit: cover;
}



/*-----------------------------------*\
  #COMPONENT
\*-----------------------------------*/

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: .75rem;
  height: 3rem;
  padding-inline: 1.5rem;
  border-radius: var(--radius-full);
  max-width: max-content;
  transition: var(--transition-quick) var(--transition-quick);
}

.btn--fill {
  background-color: var(--clr-primary-100);
  color: var(--clr-neutral-100);
}

.btn--fill:where(:hover, :focus) {
  background-color: var(--clr-neutral-200);
  color: var(--clr-primary-200);
  transition: all 400ms ease-in-out;
}

.btn--fill:where(:active, :focus-visible) {
  background-color: var(--clr-primary-300);
}

.btn--outline {
  color: var(--clr-primary-100);
  box-shadow: inset 0 0 0 2px var(--clr-primary-100);
}

.btn--outline:where(:hover, :focus, :focus-visible) {
  color: var(--clr-neutral-100);
}

.btn--outline:hover {
  background-color: var(--clr-primary-100);
}

.btn--outline:where(:active, :focus-visible) {
  background-color: var(--clr-primary-300);
}

.icon--btn {
  display: grid;
  place-items: center;
  width: 2.5rem;
  height: 2.5rem;
  background-color: var(--clr-neutral-100);
  color: var(--clr-netural-600);
  border-radius: var(--radius-sm);
  box-shadow: var(--shadow-3);
  transition: var(--transition-quick) var(--transition-quick);
}

.icon--btn:where(:hover, :focus-visible) {
  background-color: var(--clr-neutral-200);
}

.badge {
  display: grid;
  place-items: center;
  max-width: max-content;
  height: 2rem;
  padding-inline: 1rem;
  background-color: var(--clr-secondary-300);
  border-radius: var(--radius-sm);
  box-shadow: var(--shadow-3);
}

.card {
  box-shadow: var(--shadow-4);
  border-radius: var(--radius-lg);
  overflow: hidden;
  transition: var(--transition-quick) var(--transition-ease);
}

.card:where(:hover, :focus-within) {
  box-shadow: var(--shadow-4);
}

.card__banner {
  position: relative;
}

.card__banner .img--cover {
  transition: var(--transition-quick) var(--transition-ease);
}

.card:where(:hover, :focus-within) .img--cover {
  scale: 1.05;
  rotate: 2deg;
}

.card :where(.badge, .icon--btn) {
  position: absolute;
  top: 1.25rem;
}

.card .badge {
  left: 1.25rem;
}

.card .icon--btn {
  right: 1.25rem;
  opacity: 0;
  visibility: hidden;
  scale: 0.8;
  transition: var(--transition-quick) var(--transition-ease);
}

.fav--btn {
  color: var(--clr-error);
}

.fav--btn.active .material-symbols-rounded {
  font-variation-settings: 'FILL' 1;
}

.card:where(:hover, :focus-within) .icon--btn {
  scale: 1;
  opacity: 1;
  visibility: visible;
}

.card__content {
  padding: 1.25rem 1.25rem 1.5rem;
}

.card__title {
  margin-block: .5rem;
  color: var(--clr-neutral-500);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: var(--transition-quick) var(--transition-ease);
}

.card__title:where(:hover, :focus-visible) {
  color: var(--clr-primary-100);
}

.card__text {
  color: var(--clr-neutral-300);
}

.card__meta--list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: .75rem;
  flex-wrap: wrap;
  padding-block-start:  1rem;
  margin-block-start: 1rem;
  border-block-start: 1px solid var(--clr-neutral-200);
}

.card .meta--item {
  display: flex;
  align-items: center;
  gap: .25rem;
  color: var(--clr-neutral-500);
}

/*-----------------------------------*\
  #HEADER & NAV
\*-----------------------------------*/
.logo {
  display: block;
  width: 11.875rem;
  height: 1.25rem;
}

.main__header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 6.25rem;
  z-index: 4;
}

.main__header.active {
  background-color: var(--clr-primary-700);
  height: 4.5rem;
  animation: slide_in 500ms ease forwards;
}

@keyframes slide_in {
  0% { transform: translateY(-100%);}
  100% { transform: translateY(0);}
}

.main__header .wrapper {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.nav__toggle--btn .close,
.nav__toggle--btn.active .open {
  display: none;
}

.nav__toggle--btn .open,
.nav__toggle--btn.active .close {
  display: block;
}

.main__nav {
  position: absolute;
  top: 85%;
  right: 1rem;
  background-color: var(--clr-neutral-100);
  min-width: 16.25rem;
  padding: 0.625rem;
  border-radius: var(--radius-lg);
  visibility: hidden; 
  opacity: 0;
  scale: 0.4; 
  transition: var(--transition-quick) var(--transition-quick);
  box-shadow: var(--shadow-1);
  transform-origin: top right;
  z-index: 4;
}

.main__nav.active {
  visibility: visible;
  opacity: 1;
  scale: 1;
}

.main__nav,
.main__nav--list,
.nav--wrapper {
  display: grid;
  gap: .8rem;
}

.main__navbar--link,
.btn--link {
  color: var(--clr-neutral-350);
  padding: .375rem .75rem;
  transition: var(--transition-quick) var(--transition-ease);
} 

.btn--link {
  border-block-start: 1px solid var(--clr-neutral-200);
  padding-block-start: .875rem;
}

:is(.main__navbar--link, .btn--link):is(:hover, :focus-visible),
.main__nav--link.active {
  color: var(--clr-primary-100);
}

.main__nav .btn {
  min-width: 100%;
}




/*-----------------------------------*\
  #HERO
\*-----------------------------------*/

.hero__banner {
  display: none;
}

.hero {
  position: relative;
  background-image: linear-gradient(var(--clr-primary-700), var(--clr-primary-800));
  color: var(--clr-neutral-200);
  padding-block: 8.125rem 3.75rem;
  overflow: hidden;
  isolation: isolate;
}

.hero__title {
  color: var(--clr-neutral-100);
}

.hero__text {
  margin-block: 1rem 2rem;
}

.search--bar {
  background: var(--clr-accent-100);
  display: grid;
  padding: .5rem;
  gap: .5rem;
  border-radius: var(--radius-lg);
  box-shadow: 0px 10px 20px 0px var(--clr-neutral-500);
}

.search--item {
  position: relative;
  color: var(--clr-neutral-275);
}

.search--item .search--item-field {
  padding: 2.5rem 1rem .75rem;
  border-radius: var(--radius-md);
  transition: var(--transition-quick) (var(--transition-ease));
  cursor: pointer;
}

.search--item-field { 
  margin-top: 1rem;
}

.search--item .search--item-field:where(:hover, :focus) {
  color: var(--clr-neutral-250);
} 



.search--item :where(.label, .material-symbols-rounded) {
  position: absolute;
  pointer-events: none;
}


.search--item .label {
  top: .75rem;
  left: 1rem;
  color: var(--clr-neutral-700);
}

.search--item .material-symbols-rounded {
  top: 50%;
  right: 1rem;
  translate: 0 -50%;
  color: var(--clr-primary-100);
} 

.search--btn {
  background: var(--clr-primary-100);
  color: var(--clr-neutral-100);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem 0;
  gap: .75rem;
  border-radius: var(--radius-md);
  transition: var(--transition-quick) var(--transition-quick);
}

.search--btn:where(:hover, :focus) {
  background-color: var(--clr-primary-300);
}

.search--btn:where(:active, :focus-visible) {
  background-color: var(--clr-primary-400);
}

.hero .bg--pattern {
  position: absolute;
  top: 50%;
  left: 25%;
  right: 0;
  translate: 0 -50%;
  min-height: 100%;
  pointer-events: none;
  z-index: -2;
}



/*-----------------------------------*\
  #PROPERTY
\*-----------------------------------*/

.property {
  padding-block-start: 3.75rem;
}

.property .section__text {
  margin-block: .5rem 1rem;
  color: var(--clr-neutral-350);
}

.property__list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(17.5rem, 1fr));
  gap: 1rem;
}



/*-----------------------------------*\
  #FEATURE
\*-----------------------------------*/

.feature__banner {
  aspect-ratio: 3 / 2;
  overflow: hidden;
  border-radius: var(--radius-lg);
}

.feature__content {
  padding: 1.5rem 1rem 0;
}

.feature__content .feature__text {
  margin-block: 1rem;
}

.feature__text .feature__item {
  color: var(--clr-neutral-350);
}

.feature__list {
  display: grid;
  gap: .75rem;
}

.feature__item {
  display: flex;
  align-items: center;
  gap: .5rem;
}

.feature--icon {
  color: var(--clr-primary-100);
  font-size: 2.2rem;
}




/*-----------------------------------*\
  #VIDEO
\*-----------------------------------*/

.video__card {
  height: 16.25rem;
  border-radius: var(--radius-xlg);
  background: linear-gradient(
    0deg,
    #0000004D,
    #0000004d
  ),
  url('../../assets/images/video-card.jpg')
  ;
  background-repeat: no-repeat;
  background-size: cover;
  display: grid;
  place-items: center;
}




/*-----------------------------------*\
  #STORY
\*-----------------------------------*/





/*-----------------------------------*\
  #FOOTER
\*-----------------------------------*/





/*-----------------------------------*\
  #MEDIA QUERIES
\*-----------------------------------*/