/*-----------------------------------*\
  #style.css
\*-----------------------------------*/
/*-----------------------------------*\
  #CSS CUSTOM PROPERTIES
\*-----------------------------------*/
:root {
  /* Colors */
  --clr-neutral-100: hsl(216, 100%, 99%);
  --clr-neutral-150: hsl(217, 44%, 96%);
  --clr-netural-175: hsl(220, 26%, 93%);
  --clr-netural-200: hsl(213, 17%, 88%);
  --clr-neutral-225: hsl(216, 9%, 78%);
  --clr-neutral-250: hsl(217, 4%, 58%);
  --clr-neutral-275: hsl(214, 3%, 49%);
  --clr-neutral-300: hsl(216, 3%, 39%);
  --clr-neutral-350: hsl(225, 3%, 29%);
  --clr-neutral-500: hsl(220, 3%, 19%);
  --clr-netural-600: hsl(210, 4%, 10%);
  --clr-neutral-700: hsl(240, 4%, 5%);

  --clr-error: hsl(355, 100%, 56%);

  --clr-secondary-300: hsl(180, 100%, 56%);
  --clr-secondary-600: hsl(180, 76%, 11%);

  --clr-primary-100: hsl(216, 100%, 56%);
  --clr-primary-200: hsl(216, 79%, 51%);
  --clr-primary-300: hsl(216, 77%, 45%);
  --clr-primary-400: hsl(216, 77%, 39%);
  --clr-primary-700: hsl(216, 77%, 23%);
  --clr-primary-800: hsl(217, 76%, 11%);

  --clr-accent-100: hsl(0, 0%, 100%);
  --clr-accent-400: hsl(44, 92%, 56%);

  --ff-primary: 'Montserrat', sans-serif;

  --fs-base: 1rem;
  --fs-100: 1.4rem;
  --fs-200: 1.6rem;
  --fs-300: 1.8rem;
  --fs-400: 2rem;
  --fs-500: 2.2rem;
  --fs-600: 2.8rem;
  --fs-700: 3.6rem;

  --fw-regular: 400;
  --fw-semiBold: 600:
  --fw-bold: 700;

  --radius-sm: .5rem;
  --radius-md: .75rem;
  --radius-lg: 1rem;
  --radius-xlg: 2rem;
  --radius-full: 62.5rem;
  --radius-circle: 50%;

  --shadow-1: 0px 2px 4px 0px #00000033;
  --shadow-2: 0px 5px 10px 0px #0000000D;
  --shadow-3: 0px 5px 10px 0px #00000033;
  --shadow-4: 0px 10px 20px 0px #0000001A;

  --transition-ease: cubic-bezier(0, 0.7, 0.3, 1);
  --transition-quick: 200ms;
  --transition-smooth: 500ms;
}
/*-----------------------------------*\
  #RESET
\*-----------------------------------*/
*, *::before, *::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
input, button, textarea, select {
  font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
#root, #__next {
  isolation: isolate;
}

/*-----------------------------------*\
  #TYPOGRAPHY
\*-----------------------------------*/





/*-----------------------------------*\
  #UTILITY 
\*-----------------------------------*/





/*-----------------------------------*\
  #COMPONENT
\*-----------------------------------*/





/*-----------------------------------*\
  #HEADER
\*-----------------------------------*/





/*-----------------------------------*\
  #HERO
\*-----------------------------------*/





/*-----------------------------------*\
  #PROPERTY
\*-----------------------------------*/





/*-----------------------------------*\
  #FEATURE
\*-----------------------------------*/





/*-----------------------------------*\
  #VIDEO
\*-----------------------------------*/





/*-----------------------------------*\
  #STORY
\*-----------------------------------*/





/*-----------------------------------*\
  #FOOTER
\*-----------------------------------*/





/*-----------------------------------*\
  #MEDIA QUERIES
\*-----------------------------------*/